$color-black: #333435;
$card-width: 250px;
$card-height: 200px;

.catm-card {
  position: relative;
  min-height: 150px;
  padding: 15px;
  margin: 0 -15px 15px;
  border: solid 1px #ddd;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  color: $color-black;
  font-weight:700;
  cursor: pointer;
  background-color: #fff;


  -webkit-transition: z-index 2s, width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: z-index 2s, width 2s, height 2s, background-color 2s, transform 2s;
}

.black-card {
  background-color: $color-black;
  color: #fff;
}

